{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "interfaces": "./src/interfaces",
          "screens": "./src/screens",
          "routes": "./src/routes",
          "services": "./src/services",
          "styles": "./src/styles",
          "utils": "./src/utils",
          "models": "./src/models"
        }
      }
    ]
  ]
}
